* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  font-family: "Poppins";
  flex-direction: column;

  height: 1300px;
}

header.navbar-container {
  display: flex;
  padding: 60px;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 10px;

  z-index: 9999;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}

header.navbar-container .logo {
  font-family: "Philosopher";
  font-size: 1.3rem;
  margin-left: 10px;
}

header.navbar-container .nav-list {
  display: inline;
  margin-right: 20px;
}

header.navbar-container .nav-list ul li {
  display: inline;
  margin-right: 10px;
}

header.navbar-container .nav-list ul li a {
  text-decoration: none;
  color: #000;
}

main .content article img {
  width: 50%;
  border-radius: 20px;
}

main .content article p {
  margin-top: 30px;
  width: 50%;
}

main .content {
  display: flex;
  margin: 0px 10%;
  margin-top: 10%;
}

main .content aside .card {
  width: 400px;
  padding: 30px 15px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-left: -25%;
}

main .content aside .card img {
  width: 40%;
  margin-left: 30%;
  border-radius: 50%;
}

main .content aside .card .info {
  font-size: 1rem;
  margin-left: 10px;
}

main .content aside .card h4 {
  margin-top: 15px;
  font-size: 1.6rem;
  margin-left: 10px;
}

main .content article .author {
  margin-bottom: 20px;
  opacity: 70%;
}

footer {
  padding: 4% 30%;
  background-color: #f7f7f7;
  margin-top: 50px;
  height: 200px;
}

footer h1 {
  font-family: "Philosopher";
  text-align: center;
}

footer .footer .link {
  margin-left: 15%;
  margin-top: 15px;
}
footer .footer .link ul li {
  text-decoration: none;
  display: inline;
}
footer .footer .link ul li a {
  color: #000;
  text-decoration: none;
  padding: 15px;
  margin-top: 15px;
}

footer .footer .trademark {
  margin-top: 15px;
  margin-left: 30%;
  font-size: 0.9rem;
}

footer .footer .logo {
  margin-left: 2%;
  font-size: 0.9rem;
}

/* Medium devices (768px dan di bawahnya) */
@media screen and (max-width: 768px) {
  header.navbar-container {
    flex-direction: column;
  }

  header.navbar-container .nav-list ul {
    flex-wrap: wrap;
    column-gap: 0.5rem;
    margin-top: 15px;
  }

  main {
    padding: 1rem 3rem;
  }

  main .content {
    flex-direction: column;
    gap: 2rem;
  }

  main .content aside .card img {
    width: 40%;
  }

  main .content aside .card .info {
    font-size: 1rem;
  }

  main .content aside .card h4 {
    font-size: 0.8rem;
  }
  main .content aside .card {
    width: 60%;
    margin-left: auto;
  }

  main .content article img {
    width: 100%;
  }
  header.navbar-container .nav-list {
    display: inline;
    margin-left: 20px;
  }
  main .content article p {
    margin-top: 30px;
    width: 100%;
  }
  main .content {
    display: flex;
    margin: 0px 10%;
    margin-top: 30%;
  }
}
